*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.cabecalho {
    background-color: #736968;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 22%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px; 
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#F40B0B,#474237);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}

escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
}
.estudante-titulo{
    text-align: center;
}

.estudante-div{
    text-align: center;
    padding: 50px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
}